/* Default Vite CSS cleared */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Monaco Diff Overlay Styles */
.diff-decoration-modified {
}

.diff-decoration-margin {
  border-left: 3px solid #2ea043;
}

.hunk-action-widget {
  z-index: 50;
}

